.modal {
    display: none; /* Skrytý modal ve výchozím stavu */
    position: fixed; /* Zůstane na místě */
    z-index: 1; /* Zůstane nad ostatním obsahem */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Přidej scroll v případě potřeby */
    background-color: rgba(0, 0, 0, 0.5); /* Překryvné pozadí */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Vystředění */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Šířka modalu */
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Formulář */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #ECF4F9;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}

button[type="submit"]:hover {
    background-color: #B3B9BD;
}

hr {
    margin: 20px 0;
} 